.condition-toggle-buttons-container {
    position: fixed;
    top: var(--navbar-height);
    left: 0;
    bottom: 0;
    background-color: var(--background-2);
    z-index: 11;
    overflow-y: auto;
    width: 120px;  /* Define a width for the buttons container */
}

.condition-toggle-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #eee;
    border: 1px solid #ccc;
    padding: 5px 5px;
    margin-bottom: 8px;
    cursor: pointer;
    width: 70%; /* Make buttons full width */
}

/*.condition-toggle-buttons {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: flex-start;*/
/*    padding: 5px;*/
/*    !* ... other styles *!*/
/*}*/

.condition-toggle-button,
.data-window-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 5px;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: #eee;
    width: 100px; /* Adjust this to your preferred width */
    margin-bottom: 8px; /* Add space between buttons */
}

.condition-toggle-button.active {
    background-color: #007bff;
    color: #fff;
}

.data-window-button:hover,
.condition-toggle-button:hover {
    background-color: var(--background-3);
    color: white;
    font-weight: bold;
}
.toggle-icon {
    font-size: 20px;
    margin-left: 10px;
}

.data-window {
    position: fixed;
    top: var(--navbar-height);
    left: 120px;  /* Set left to the width of the buttons container to have it adjacent */
    width: 0;
    height: 100%;
    background-color: var(--background-2);
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 10;  /* Ensure it's below the toggle buttons */
}

.data-window-content {
    margin-top: 20px;
    padding: 20px;
    margin-left: 150px;
    color: white;
}

.chart-container {
    background-color: #ffffff; /* Set your desired background color here */
    padding: 10px; /* Optional: Add padding for spacing */
}
.chart-container p {
    color: #000000; /* Define your desired text color here */
}
.chart-container h4 {
    color: #000000; /* Define your desired text color here */
}
