/**
 * @author Thomas Schiøler Hansen (s214968) Jakob Kildegaard Hansen (s214952)
 * @CSS
 */
.homeContainer {
    background-color: var(--background-2);
    color: #FFFFFF;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/**
 * @author Thomas Schiøler Hansen (s214968) Jakob Kildegaard Hansen (s214952)
 * @CSS
 */
.instructionsHeader {
    font-size: 3em;
    margin-bottom: 60px;
    width: 100%;
    text-align: center;
    text-shadow: 3px 3px black;
}
/**
 * @author Thomas Schiøler Hansen (s214968) Jakob Kildegaard Hansen (s214952)
 * @CSS
 */
.contentRow {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 60px;
    align-items: center;
}
/**
 * @author Thomas Schiøler Hansen (s214968) Jakob Kildegaard Hansen (s214952)
 * @CSS
 */
.leftText, .rightText {
    flex: 0.5;
    padding: 0 10px;
    text-align: center;
}
/**
 * @author Thomas Schiøler Hansen (s214968) Jakob Kildegaard Hansen (s214952)
 * @CSS
 */
.image {
    width: 504px;
    background-color: #888; /* placeholder color */
    border: 2px solid black;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    max-width: 50%;
    height: auto;
}

