/**
 * @author Thomas Schiøler Hansen (s214968) Jakob Kildegaard Hansen (s214952)
 * @CSS
 */
.importDataContainer {
    background-color: var(--background-2);
    color: #FFFFFF;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 90vh; /* 90% of the viewport height */
    width: 100vw; /* 100% of the viewport width */
}

/**
 * @author Thomas Schiøler Hansen (s214968) Jakob Kildegaard Hansen (s214952)
 * @CSS
 */
.importDataHeader {
    font-size: 3em;
    margin-bottom: 60px;
    width: 100%;
    text-align: center;
    text-shadow: 3px 3px black;
}

/**
 * @author Thomas Schiøler Hansen (s214968) Jakob Kildegaard Hansen (s214952)
 * @CSS
 */
/*Import data UI for upload*/
.importUIcontainer {
    background-color: white;
    height: 300px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    gap: 5px;
    background-color: rgba(0, 110, 255, 0.041);
    margin-top: 50px;
}

/**
 * @author Thomas Schiøler Hansen (s214968) Jakob Kildegaard Hansen (s214952)
 * @CSS
 */
.importUIheaderLabel {
    flex: 1;
    width: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/**
 * @author Thomas Schiøler Hansen (s214968) Jakob Kildegaard Hansen (s214952)
 * @CSS
 */
.importUIheader {
    flex: 1;
    width: 100%;
    border: 2px dashed royalblue;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/**
 * @author Thomas Schiøler Hansen (s214968) Jakob Kildegaard Hansen (s214952)
 * @CSS
 */
.importUIheader svg {
    height: 100px;
}

/**
 * @author Thomas Schiøler Hansen (s214968) Jakob Kildegaard Hansen (s214952)
 * @CSS
 */
.importUIheader p {
    text-align: center;
    color: black;
}

/**
 * @author Thomas Schiøler Hansen (s214968) Jakob Kildegaard Hansen (s214952)
 * @CSS
 */
.importUIfooter {
    background-color: rgba(0, 110, 255, 0.075);
    width: 100%;
    height: 40px;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: black;
    border: none;
}

/**
 * @author Thomas Schiøler Hansen (s214968) Jakob Kildegaard Hansen (s214952)
 * @CSS
 */
.importUIfooter svg {
    height: 130%;
    fill: royalblue;
    background-color: rgba(70, 66, 66, 0.103);
    border-radius: 50%;
    padding: 2px;
    cursor: pointer;
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.205);
}

/**
 * @author Thomas Schiøler Hansen (s214968) Jakob Kildegaard Hansen (s214952)
 * @CSS
 */
.importUIfooter p {
    flex: 1;
    text-align: center;
}

/**
 * @author Thomas Schiøler Hansen (s214968) Jakob Kildegaard Hansen (s214952)
 * @CSS
 */
#file {
    display: none;
}

/**
 * @author Thomas Schiøler Hansen (s214968) Jakob Kildegaard Hansen (s214952)
 * @CSS
 */
/* Radio Buttons */
.radioGroup:focus {
    outline: 0;
    border-color: #2260ff;
    box-shadow: 0 0 0 4px #b5c9fc;
}

/**
 * @author Thomas Schiøler Hansen (s214968) Jakob Kildegaard Hansen (s214952)
 * @CSS
 */
.radioGroup div {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.5rem;
    justify-content: center;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

/**
 * @author Thomas Schiøler Hansen (s214968) Jakob Kildegaard Hansen (s214952)
 * @CSS
 */
.radioGroup label input[type="radio"] {
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

/**
 * @author Thomas Schiøler Hansen (s214968) Jakob Kildegaard Hansen (s214952)
 * @CSS
 */
.radioGroup label input[type="radio"]:checked + span {
    box-shadow: 0 0 0 0.0625em #0043ed;
    background-color: #dee7ff;
    z-index: 1;
    color: #0043ed;
}

/**
 * @author Thomas Schiøler Hansen (s214968) Jakob Kildegaard Hansen (s214952)
 * @CSS
 */
.radioGroup label span {
    display: block;
    cursor: pointer;
    background-color: #fff;
    padding: 0.375em .75em;
    position: relative;
    margin-left: .0625em;
    box-shadow: 0 0 0 0.0625em #b5bfd9;
    letter-spacing: .05em;
    color: #3e4963;
    text-align: center;
    transition: background-color .5s ease;
}

/**
 * @author Thomas Schiøler Hansen (s214968) Jakob Kildegaard Hansen (s214952)
 * @CSS
 */
.radioGroup label:first-child span {
    border-radius: .375em 0 0 .375em;
}

/**
 * @author Thomas Schiøler Hansen (s214968) Jakob Kildegaard Hansen (s214952)
 * @CSS
 */
.radioGroup label:last-child span {
    border-radius: 0 .375em .375em 0;
}

/**
 * @author Thomas Schiøler Hansen (s214968) Jakob Kildegaard Hansen (s214952)
 * @CSS
 */
.submitButton {
    padding: 0.375em 0.75em;
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    border: none;
    border-radius: 10px;
    margin-top: 1em;
    cursor: pointer;
    box-shadow: 0 0 0 0.0625em #b5bfd9;
    transition: background-color 0.5s ease;
    letter-spacing: .05em;
    color: #3e4963;
    text-align: center;
}

/**
 * @author Thomas Schiøler Hansen (s214968) Jakob Kildegaard Hansen (s214952)
 * @CSS
 */
.submitButton:hover {
    background-color: #dee7ff;
    box-shadow: 0 0 0 0.0625em #0043ed;
}

/* Feedback Messages */
.feedback-message {
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
    transition: background-color 0.5s ease;
}

.error-message {
    background-color: #ffcccc; /* Light red for error */
    color: #cc0000; /* Darker red for error text */
}

.success-message {
    background-color: #ccffcc; /* Light green for success */
    color: #008000; /* Darker green for success text */
}

